@import "palette.css";

.header-container {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
    font-size: 30px;
    font-weight: 200;
    font-family: "Open Sans", sans-serif;
    background-color: #B6B6B6;
}

.header-text-thin {
    font-weight: 100;
}

.header-text-bold {
    font-weight: bolder;
    margin-left: -2px;
}